
@{
    ViewData["Title"] = "successfulPurchase";
}

    <style>
        .success-icon {
            color: #28a745;
            font-size: 48px;
        }

        h1 {
            color: #28a745;
        }

        p {
            color: #6c757d;
            font-size: 18px;
        }
    </style>


    <div class="container">
        <i class="success-icon fas fa-check-circle"></i>
        <h1>Successful Purchase!</h1>
        <p>A confirmation email has been sent to your email address.</p>
    </div>

    <!-- Font Awesome for the success icon -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2Xof8E+DLIt5u6LZ5A+J3Gk5Un7I2yU5Pa6" crossorigin="anonymous"></script>




