@model CourseListModel
@{
    ViewData["Title"] = "Index";
}

@*<h1>Courses</h1>

@foreach (var course in Model.GetPopularCourses())
{
    <h1>@course.Id</h1>
    <h1>@course.Name</h1>
    <h1>@course.Fees</h1>

}*@

@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="/admin/course/create" class="btn btn-primary">Create Course</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <partial name="_ResponsePartial" />
                        <table id="course" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th style="width:150px">Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th style="width:150px">Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                        <partial name="_ModalPartial" />
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts {

    <!-- DataTables  & Plugins -->
    <script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
          $("#course").DataTable({
            //"responsive": true, "lengthChange": false, "autoWidth": false,
            //    "columns": [
            //        { "searchable": true }, // first column
            //        { "searchable": true }, // second column
            //        { "searchable": true }, // third column
            //        // add searchable: true for other columns as needed
            //    ],
            //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
            "processing":true,
            "serverSide":true,
            "ajax":{
            "url":"/Admin/Course/GetCourses"
            },
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 2, //Id-> column works
                        "render": function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/admin/course/update/${data}'" value='${data}'>
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Edit
                                                    </button>
                                                    <button type="submit" class="btn btn-danger btn-sm show-bs-modal" data-id='${data}' value='${data}'>
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Delete
                                                    </button>`;
                        }
                    }
                ]
        });

            $('#course').on('click', '.show-bs-modal', function (event) {
                var id = $(this).data("id");
                var modal = $("#modal-default");
                modal.find('.modal-body p').text('Are you sure you want to delete this record?');
                $("#deleteId").val(id);
                $("#deleteForm").attr("action", "/admin/course/delete");
                modal.modal('show');
            });

            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });



        });
    </script>
}

